/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(27, 27, 27);
    font-family: 'Roboto Mono', monospace;
}

ul {
    list-style: none;
}

.center {
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

nav {
    width: 95%;
    background-color: rgb(70, 70, 70);
    margin: 0 auto;
    justify-content: space-around;
    min-width: 900px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 5px;
}

nav ul li {
    margin: 15px;
    font-size: 2rem;
    transition-property: font-size;
    transition-duration: 300ms;
}

nav ul li:hover {
    font-size: 2.1rem;
}

.intro {
    width: 90%;
    text-align: center;
    padding: 10px;
    border: white 1px solid;
    margin: 10px auto;
    min-width: 900px;
    margin-top: 50px;
}

.intro img {
    opacity: 50%;
}

.intro img:hover {
    opacity: 100%;
    transition: opacity 500ms;
}

.intro h1, .intro h2, .intro p {
    margin: 10px;
    padding: 10px;
}

.intro h1 {
    font-size: 4.5rem;
    color: grey;
}

.intro h1:hover {
    transition: color 1.5s; 
    color: white;
}

.products-header {
    margin: 75px;
    text-decoration: underline;
}

.products {
    display: flex;
    width: 95%;;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}

.product {
    opacity: 75%;
    margin-bottom: 20px;
}

.product:hover {
    opacity: 100%;
    transition: opacity 0.5s;
}

.product img {
    height: 250px;
    width: 450px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product p {
    background-color: rgb(63, 48, 51);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

.meet-header {
    margin: 75px;
}

.employees {
    display: flex;
    justify-content: center;
}

.padding {
    margin-bottom: 25px;
}

.employees img {
    width: 750px;
    height: auto;
    opacity: 75%;
    border-radius: 10%;
}

.employees img:hover {
    width: 800px;
    opacity: 100%;
    border-radius: 5%;
    transition: opacity 500ms, width 1s, border-radius 500ms ease-out;
}

.emp-info p {
    font-size: 2rem;
}

